<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../dhtmlxSuite/codebase/fonts/font_roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="../dhtmlxSuite/codebase/dhtmlx.css">
    <!--<link rel="stylesheet" type="text/css" href="../dhtmlxSuite/sources/dhtmlxGrid/codebase/skins/dhtmlxgrid_dhx_web.css">-->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/kkpager_blue.css">
    <link rel="stylesheet" type="text/css" href="../css/style_font.css">

    <script type="text/javascript" src="../js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="../js/plugins/angular.min.js"></script>

    <script type="text/javascript" src="../dhtmlxSuite/codebase/dhtmlx.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/codebase/dhtmlXGridCell.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxCommon/codebase/dhtmlxcommon.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/dhtmlxgrid.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlxgrid_pgn.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlXGrid_splt.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlXGrid_mcol.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlxgrid_drag.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/ext/dhtmlxgrid_filter.js"></script>
    <script type="text/javascript" src="../dhtmlxSuite/sources/dhtmlxGrid/codebase/excells/dhtmlxgrid_excell_cntr.js"></script>
    <script type="text/javascript" src="../js/plugins/basePath.js"></script>

    <script type="text/javascript" src="../js/infor_guide/add_infor_guide.js"></script>
    <script type="text/javascript" src="../js/plugins/kkpager.min.js"></script>
    <script>

    </script>
</head>

<body  ng-app="myApp" ng-controller="myCtrl" >
<h3 style="width: 100%;text-align: center">新建信息指南</h3>

<div class="public" >
    <table class="tab_user">
        <tr class="td_left">
            <td class="td_left"><span class="red">*</span></span>标题</td>
            <td><input  style="width: 300px;height: 30px" type="text" ng-model="inforguide.title"  id="inforguide_title" placeholder="输入信息指南标题"></td>
        </tr>
        <tr class="td_left">
            <td class="td_left"><span class="red">*</span></span>类别</td>
            <td><select  style="width: 300px;height: 30px" type="text" ng-model="inforguide.type" ng-options="y.text for (x, y) in guide_type"placeholder="请选择类别"></select></td>
        </tr>
        <tr>
            <td class="td_left"><span class="red">*</span>正文</td>
            <td><textarea style="width: 300px;height: 30px"  type="text"  ng-model="inforguide.text" id="inforguide_text" placeholder="请填写信息指南详情" ></textarea></td>
        </tr>
        <tr>
            <td class="td_left">上传图片</td>
            <td>
                <div>
                    <input type="file" class="uploadimg">
                    <input type="file" class="uploadimg">
                    <input type="file" class="uploadimg">
                    <div class="uploaddiv"><img  style="max-width: 150px"  src="../imgs/upload.png"   alt="" /></div>
                    <div class="uploaddiv"><img  style="max-width: 150px"  src="../imgs/upload.png" alt="" /></div>
                    <div class="uploaddiv"><img  style="max-width: 150px"  src="../imgs/upload.png" alt="" /></div>
                </div>
            </td>
        </tr>
        <tr >
            <td class="td_left">上传文件</td>
            <form id="uploadForm">
                <td>
                    <input type="file" name="file" class="uploading" id="file_upload">
                </td>
            </form>

        </tr>

    </table>
    <button class="btn_blue" ng-click="submit()">提交</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <!--<button class="btn_blue" ng-click="back()">返回</button>-->
</div>
</body>
</html>